image==1.5.27
ipdb==0.12.3
ipython==7.10.2
numpy==1.17.4
Pillow==8.1.1
requests==2.22.0
virtualenv==16.7.9
# python app.py -fd ..\models\intel\face-detection-adas-binary-0001\FP32-INT1\face-detection-adas-binary-0001 -fl ..\models\intel\landmarks-regression-retail-0009\FP16\landmarks-regression-retail-0009 -he ..\models\intel\head-pose-estimation-adas-0001\FP16\head-pose-estimation-adas-0001 -ge ..\models\intel\gaze-estimation-adas-0002\FP16\gaze-estimation-adas-0002 -i ..\bin\demo.mp4 -d CPU --previewFlags fd fl he